@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="col-12 container text-center mb-3">
    <section class=" col-12 col-lg-5 container pt-5">
        <form class="pt-5" id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        @if (provider.DisplayName == "GitHub")
                        {
                            <button type="submit" class="btn w-100 bg-dark text-white" name="provider" value="@provider.Name" title="Register with @provider.DisplayName"><i class="fab fa-github"></i> Register with @provider.DisplayName</button>
                        }
                        else
                        {
                            <button type="submit" class="btn w-100 btn-primary" name="provider" value="@provider.Name" title="Register with @provider.DisplayName">Register with @provider.DisplayName</button>
                        }
                    }
                </p>
            </div>
        </form>
        <div class="card">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="card-body text-left">
                <h5>Register with Email</h5>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label style="font-weight: bold;" asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;" asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;" asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Register</button>
                <div class="text-center mt-3">
                    <a asp-page="./Login">Login as a existing user</a>
                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
